* {
    box-sizing: border-box;
}

body {
    background-color: #222f3e;
    padding: 0;
    margin: 0;
    font-family: 'Lato',
        sans-serif;
}

.myLink {
    color: honeydew;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    /* width: 20%; */
}

.socialMedia {
    margin-left: 40px;
}

.container {
    padding: 20px;
}

.deathText,
h1 {
    display: inline-block;
    font-weight: 900;
}

h1,
h5 {
    text-align: center;
    color: #fff;
    display: block;
}

.right {
    float: right;
}

.battleField {
    display: flex;

}

.box {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    text-align: center;
    width: 16%;
    height: 500px;
    margin: 5px;
    overflow: hidden;
}

.box2 {
    margin-left: 0;
    background-image: url('../img/blood2.png');
}

.box6 {
    margin-right: 0;
    background-image: url('../img/blood1.png');
}



.contestants {
    border: 1px solid black;
    background-color: #dcdde1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 35px;
    padding: 20px;
}

img {
    height: 100px;
    cursor: pointer;
    margin: 10px;
}

button {
    background-color: #00a8ff;
    color: #fff;
    border: none;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 35px;
    cursor: pointer;

}


.lightgreen,
.darckgreen,
.JOUSTBLUE,
.BELIZEHOLE,
.ALIZARIN,
.darkRed {
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 5px;
}


.lightgreen {
    background-color: #4cd137;
}

.darckgreen {
    background-color: #16a085;
}

.JOUSTBLUE {
    background-color: #54a0ff;
}

.BELIZEHOLE {
    background-color: #2980b9;
}

.ALIZARIN {

    background-color: #ED4C67;
}

.darkRed {
    background-color: #EA2027;
}

.arrow {
    width: 0px;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 35px solid #EA2027;
    margin-top: -20px;
}

.arrow2 {
    width: 0px;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #4cd137;
    margin-top: -20px;
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .box {
        height: 400px;
    }

    .contestants {
        padding: 20px;
    }

    img {
        margin: 10px;
        /* width: 70px; */
        height: 80px;
    }
}